template(name='add_group')
  div.container.add-group-view
    form.add_group.form.row(role='form',style='margin-bottom: 10px')
      div.row
        div.form-group.col-xs-3
          label(for='name') Name
          input#name.form-control(name='name')
      div.row
        div.form-group.col-xs-3
          button.btn.btn-default.ok(type='submit') OK
