template(name='add_group')
  div.container.add-group-view
    form.add_group
      label Name
      div.input-group
        input.form.control(name='name')
      div.input-group
        button.btn.btn-default.ok(type='submit') OK
