template(name='battles')
  div.container.battles-view
    form.add_battle.form-inline(role='form',style='margin-bottom: 10px')
      div.form-group
        label(for='name') Name
        input#name.form-control(name='name')
      div.form-group
        label(for='map') Map
        select#map.form-control(name='mapId')
          each mapdata
            option(value="#{_id}")= name
      button.btn.btn-default.ok(type='submit') OK
    div.list-group.row
      each battles
        +battle_list_item

template(name='battle_list_item')
  div.list-group-item.row
    a.col-xs-3(href="/battles/#{_id}")
      = name
    div.col-xs-3
      = mapdata.name
    div.col-xs-5.btn-group.btn-group-xs
      form.form-inline
        each groups
          button.btn.btn-default.btn-xs.delete_group= name
        div.btn-group
          button.btn.btn-default.btn-xs.dropdown-toggle(data-toggle='dropdown',aria-haspopup='true',aria-expanded='false') add group
          ul.dropdown-menu
            //select.form-control.input-xs.select_group(name='groupId')
            each ownerGroups
              li
                a.add_group(href="#")= name
    div.col-xs-1
      a.js-delete-item.delete_battle(href='#')
        span.glyphicon.glyphicon-remove(aria-hidden='true')
      = usersId
