template(name='battles')
  div.container.battles-view
    form.add_battle
      label Name
        input.form.control(name='name')
      select(name='mapId')
        each mapdata
          option(value="#{_id}")= name
      button.btn.btn-default.ok(type='submit') OK
    dev.list-group.row
      each battles
        +battle_list_item

template(name='battle_list_item')
  div.list-group-item.row
    a.col-xs-3(href="/battles/#{_id}")
      = name
    dev.col-xs-3
      = mapdata.name
    dev.col-xs-5.btn-group.btn-group-xs
      each groups
        button.btn.btn-default.delete_group= name
      select.select_group(name='groupId')
        option(value="-") -
        each ownerGroups
          option(value="#{_id}")= name
    dev.col-xs-1
      a.js-delete-item.delete_battle(href='#')
        span.glyphicon.glyphicon-remove(aria-hidden='true')
      = usersId
