template(name='characters')
  div.container.characters-view
    a.btn.btn-default(href='/add_character') Add Character
    dev.list-group.row
      each characters
        a.list-group-item.col-xs-12(href="/characters/#{_id}")
          +character_list_item

template(name='character_list_item')
  dev.col-xs-4
    = name
  dev.col-xs-8
    = group.name
