template(name='characters')
  div.container.characters-view
    form.form-inline.row(role='form',style='margin-bottom: 10px')
      a.btn.btn-default(href='/add_character') Add Character
    div.list-group.row
      each characters
        a.list-group-item.col-xs-12(href="/characters/#{_id}")
          +character_list_item

template(name='character_list_item')
  div.col-xs-4
    = name
  div.col-xs-8
    = group.name
