template(name='group_view')
  div.container.group-view
    +Template.dynamic template='group' data=group

template(name='group')
  p= name
  if isOwner
    button.btn.btn-defult.delete-group Delete

  p Members
    ul.list-group.row
      each members
        if isOwner
          a.list-group-item.col-xs-12.delete-member(href='#')
            +character_list_item
        else
          li.list-group-item.col-xs-12
            +character_list_item

  if isOwner
    p Characters
      ul.list-group.row
        each characters
          a.list-group-item.col-xs-12.add-member(href='#')
            +character_list_item
